<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ralph DEUS PortFolio</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  {% load static %}
  <!-- Favicons -->
  <link href={% static 'img/favicon.png' %} rel="icon">
  <link href={% static 'img/apple-touch-icon.png' rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href={% static "lib/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href={% static "lib/font-awesome/css/font-awesome.min.css" %} rel="stylesheet">
  <link href={% static "lib/animate/animate.min.css" %} rel="stylesheet">
  <link href={% static "lib/ionicons/css/ionicons.min.css" %} rel="stylesheet">
  <link href={% static "lib/owlcarousel/assets/owl.carousel.min.css" %} rel="stylesheet">
  <link href={% static "lib/magnific-popup/magnific-popup.css" %} rel="stylesheet">
  <link href={% static "lib/ionicons/css/ionicons.min.css" %} rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href={% static "css/style.css" %} rel="stylesheet">

  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="body">
  <div id="preloader"></div>

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:ralph.deus@esih.edu">ralph.deus@esih.edu</a>
        <i class="fa fa-phone"></i> +509 38 32 5242
      </div>
      <div class="social-links float-right">
        <a href="https://twitter.com/RalphWinner" target="blank" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://web.facebook.com/ralph.deus" target="blank" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/ralph_winner/" target="blank" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="https://plus.google.com/106783300633259701251" target="blank" class="google-plus"><i class="fa fa-google-plus"></i></a>
        <a href="https://www.linkedin.com/in/ralph-deus-49250511b/" target="blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">Ralph<span>Deus</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#body">Acceuil</a></li>
          <li><a href="#about">A Propos</a></li>
          <li><a href="#services">Compétences</a></li>
          <li><a href="#Portfolio">Expériences</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="wow fadeIn">

    <div class="intro-content">
      <h2>Ralph <span>DEUS</span><br>Ingénieur Informatique</h2>
      <div>
        <a href={% static 'Ralph DEUS cv fr.pdf' %} class="btn-projects scrollto">Télécharger Version PDF</a>
      </div>
    </div>

    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url({% static 'img/intro-carousel/1.jpg' %});"></div>
      <div class="item" style="background-image: url({% static 'img/intro-carousel/2.jpg' %});"></div>
      <div class="item" style="background-image: url({% static 'img/intro-carousel/3.jpg' %});"></div>
      <div class="item" style="background-image: url({% static 'img/intro-carousel/4.jpg' %});"></div>
      <div class="item" style="background-image: url({% static 'img/intro-carousel/5.jpg' %});"></div>
    </div>

  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src={% static "img/about-img.jpg" %} class="img img-rounded" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>A propos</h2>
            <h3>Moi</h3>
            <ul>
              <li><i class="ion-android-checkmark-circle"></i>
                Avoir la capacité d’exploiter mes compétences, mon dynamisme et mes qualités relationnelles tout en développant d’autres aptitudes dans un environnement dynamique et évolutif.
              </li>
            </ul>
            <br>
            <h3>Aptitude</h3>
            <ul>
              <li><i class="ion-android-checkmark-circle"></i>
                Capacité à travailler en équipe et sous pression
              </li>
              <li><i class="ion-android-checkmark-circle"></i>
                Sens de responsabilité
              </li>
              <li><i class="ion-android-checkmark-circle"></i>
                Bonne communication
              </li>
              <li><i class="ion-android-checkmark-circle"></i>
                S’adapter rapidement
              </li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Compétences</h2>
          <p>Développeur web, Programmeur de logiciels de bureau : Windows, Linux & Mac Os, Gestionnaire de base de données, administration Système Windows & Mac Os / Mobile : Android & ios</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-laptop"></i></div>
              <h4 class="title"><a href="">Développeur Web</a></h4>
              <p class="description">Front-end: HTML, CSS, Bootstrap, JavaScript, jQuery </br>Back-end: Python / Django, PHP, Ajax</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-laptop"></i></div>
              <h4 class="title"><a href="">Système Windows, MacOS</a></h4>
              <p class="description">Bonne connaissance en administration système Windows et Mac Os</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="fa fa-laptop"></i></div>
              <h4 class="title"><a href="">Développeur de logiciel de bureau</a></h4>
              <p class="description">Python / Java / C++.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-laptop"></i></div>
              <h4 class="title"><a href="">Gestionnaire de Base de données</a></h4>
              <p class="description">MySQL / SQLServer / SQLite</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Langues</h2>
          <div class="row">
            <div class="col icon box wow fadeInRight" data-wow-delay="0.2s">
              <i class="fa fa-flag"></i> Anglais: Bien
            </div>
            <div class="col icon box wow fadeInRight" data-wow-delay="0.2s">
              <i class="fa fa-flag"></i> Français: Très Bien
            </div>
            <div class="col icon box wow fadeInRight" data-wow-delay="0.2s">
              <i class="fa fa-flag"></i> Creole: Très Bien
            </div>
          </div>
        </div>

      </div>
    </section><!-- #clients -->

    <!--==========================
      Our Portfolio Section
    ============================-->
    <section id="Portfolio">
      <div class="container">
        <div class="section-header">
          <h2>Expériences</h2>
          <p>Expériences | Prix et Réalisation</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-laptop"></i></div>
              <h4 class="title"><a href="">Premier prix d'une <strong> Hackaton </strong></a></h4>
              <p class="description">Équipe championne avec une application faisant la gestion des écoles en Haïti ( LekolPam)</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-laptop"></i></div>
              <h4 class="title"><a href="">Développeur de <strong> THESS ONLINE </strong></a></h4>
              <p class="description">Développeur Front-End de THESS : Plateforme d’apprentissage numérique</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="fa fa-laptop"></i></div>
              <h4 class="title"><a href="">Développeur de <strong> Jesyonal </strong></a></h4>
              <p class="description">Application permettant la gestion des ventes ou achats de produits dans une
entreprise quelconque</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-laptop"></i></div>
              <h4 class="title"><a href="">Développeur de <strong> RezoSosyal </strong></a></h4>
              <p class="description">Un réseau social dans le cadre d'un projet de développement web a l'université</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Contact</h2>
          <p>Pour tout contact, Je suis disponible tous les jours entre 12: 00 AM & 12: 00 PM, voici mes coordonnées, n'hésiter pas à me contacter où a utilisé le formulaire de contact </p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Addresse</h3>
              <address>Route Nationale # 1, Bon-Repos, lilavois 2 # 20</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Téléphone</h3>
              <p><a href="tel:+50938325242">+509 38 32 5242</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:ralph.deus@esih.edu">ralph.deus@esih.edu</a></p>
            </div>
          </div>

        </div>
      </div>

      <div class="container">
        <div class="form">
          <div id="sendmessage">Votre message a été envoyé. Merci!</div>
          <div id="errormessage"></div>
          <form action="" method="post" id="myForm" role="form" class="contactForm">{% csrf_token %}
            <div class="section-header">
              <h2>Formulaire de contact</h2>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Votre Nom" data-rule="minlen:4" data-msg="Enter au moins 4 caractères" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Votre Email" data-rule="email" data-msg="Cette adresse email n'est pas valide" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujets" data-rule="minlen:4" data-msg="Votre sujet doit contenir au moins 8 caractères" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Svp, dit quelque chose" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Envoyez Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Ralph</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
        -->
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src={% static "lib/jquery/jquery.min.js" %}></script>
  <script src={% static "lib/jquery/jquery-migrate.min.js" %}></script>
  <script src={% static "lib/bootstrap/js/bootstrap.bundle.min.js" %}></script>
  <script src={% static "lib/easing/easing.min.js" %}></script>
  <script src={% static "lib/superfish/hoverIntent.js" %}></script>
  <script src={% static "lib/superfish/superfish.min.js" %}></script>
  <script src={% static "lib/wow/wow.min.js" %}></script>
  <script src={% static "lib/owlcarousel/owl.carousel.min.js" %}></script>
  <script src={% static "lib/magnific-popup/magnific-popup.min.js" %}></script>
  <script src={% static "lib/sticky/sticky.js" %}></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>
  <!-- Contact Form JavaScript File -->
  <script src={% static "contactform/contactform.js" %} charset="utf-8"></script>

  <!-- Template Main Javascript File -->
  <script src={% static "js/main.js" %}></script>

</body>
</html>
